
--	ALTER TABLE [LOG_INFOREST] ALTER COLUMN ID BIGINT NOT NULL
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_LOG_INFOREST' and TABLE_NAME='LOG_INFOREST')
		ALTER TABLE [dbo].[LOG_INFOREST] WITH NOCHECK ADD 
			CONSTRAINT [PK_LOG_INFOREST] PRIMARY KEY  CLUSTERED 
			(
				[ID] ASC
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TIMPRESORAIMPRESION' and TABLE_NAME='TIMPRESORAIMPRESION')
		ALTER TABLE [dbo].[TIMPRESORAIMPRESION] WITH NOCHECK ADD 
			CONSTRAINT [PK_TIMPRESORAIMPRESION] PRIMARY KEY  CLUSTERED 
			(
				[tImpresora]    
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TDELIVERYCLIENTE' and TABLE_NAME='TDELIVERYCLIENTE')
		ALTER TABLE [dbo].[TDELIVERYCLIENTE] WITH NOCHECK ADD 
			CONSTRAINT [PK_TDELIVERYCLIENTE] PRIMARY KEY  CLUSTERED 
			(
				[nCorrelativo]    
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TPARIENTE' and TABLE_NAME='TPARIENTE')
	ALTER TABLE [dbo].[TPARIENTE] WITH NOCHECK ADD 
		CONSTRAINT [PK_TPARIENTE] PRIMARY KEY  CLUSTERED 
		(
			[tCodigoPariente]  ,
			[tCodigoDelivery]  
		) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TDELIVERYINVITADO' and TABLE_NAME='TDELIVERYINVITADO')
		ALTER TABLE [dbo].[TDELIVERYINVITADO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TDELIVERYINVITADO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoInvitado]  
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TPARAMETRO' and TABLE_NAME='TPARAMETRO')
		ALTER TABLE [dbo].[TPARAMETRO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TPARAMETRO] PRIMARY KEY  CLUSTERED 
			(
				[tIdentificacionTributaria]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TMOTORIZADODATOS' and TABLE_NAME='TMOTORIZADODATOS')
		ALTER TABLE [dbo].[TMOTORIZADODATOS] WITH NOCHECK ADD 
			CONSTRAINT [PK_TMOTORIZADODATOS] PRIMARY KEY  CLUSTERED 
			(
				[tCodigo]
		 
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TINSUMO' and TABLE_NAME='TINSUMO')
		ALTER TABLE [DBO].[TINSUMO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TINSUMO] PRIMARY KEY  CLUSTERED 
			(
				[TCODIGO]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_APEDIDO' and TABLE_NAME='APEDIDO')
		ALTER TABLE [dbo].[APEDIDO] WITH NOCHECK ADD 
			CONSTRAINT [PK_APEDIDO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoPedido],
				[tItem]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_CPEDIDO' and TABLE_NAME='CPEDIDO')
		ALTER TABLE [dbo].[CPEDIDO] WITH NOCHECK ADD 
			CONSTRAINT [PK_CPEDIDO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoPedido],
				[tItem],
				[tItemCombo]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_DDOCUMENTO' and TABLE_NAME='DDOCUMENTO')
		ALTER TABLE [dbo].[DDOCUMENTO] WITH NOCHECK ADD 
			CONSTRAINT [PK_DDOCUMENTO] PRIMARY KEY  CLUSTERED 
			(
				[tDocumento],
				[tItem],
				[tCodigoPedido]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_DGUIATRANSPORTE' and TABLE_NAME='DGUIATRANSPORTE')
		ALTER TABLE [dbo].[DGUIATRANSPORTE] WITH NOCHECK ADD 
			CONSTRAINT [PK_DGUIATRANSPORTE] PRIMARY KEY  CLUSTERED 
			(
				[tGuiaTransporte],
				[tItem]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_DPAGODOCUMENTO' and TABLE_NAME='DPAGODOCUMENTO')
		ALTER TABLE [dbo].[DPAGODOCUMENTO] WITH NOCHECK ADD 
			CONSTRAINT [PK_DPAGODOCUMENTO] PRIMARY KEY  CLUSTERED 
			(
				[tDocumento],
				[tCorrelativo]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_DPEDIDO' and TABLE_NAME='DPEDIDO')
		ALTER TABLE [dbo].[DPEDIDO] WITH NOCHECK ADD 
			CONSTRAINT [PK_DPEDIDO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoPedido],
				[tItem]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_DPREPAGO' and TABLE_NAME='DPREPAGO')
		ALTER TABLE [dbo].[DPREPAGO] WITH NOCHECK ADD 
			CONSTRAINT [PK_DPREPAGO] PRIMARY KEY  CLUSTERED 
			(
				[tDocumento],
				[tCorrelativo]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_MCIERRE' and TABLE_NAME='MCIERRE')
		ALTER TABLE [dbo].[MCIERRE] WITH NOCHECK ADD 
			CONSTRAINT [PK_MCIERRE] PRIMARY KEY  CLUSTERED 
			(
				[tPeriodo]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_MDOCUMENTO' and TABLE_NAME='MDOCUMENTO')
		ALTER TABLE [dbo].[MDOCUMENTO] WITH NOCHECK ADD 
			CONSTRAINT [PK_MDOCUMENTO] PRIMARY KEY  CLUSTERED 
			(
				[tDocumento]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_MRECIBO' and TABLE_NAME='MEGRESO')
		ALTER TABLE [dbo].[MEGRESO] WITH NOCHECK ADD 
			CONSTRAINT [PK_MRECIBO] PRIMARY KEY  CLUSTERED 
			(
				[tRecibo]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_MENVIO' and TABLE_NAME='MENVIO')
		ALTER TABLE [dbo].[MENVIO] WITH NOCHECK ADD 
			CONSTRAINT [PK_MENVIO] PRIMARY KEY  CLUSTERED 
			(
				[fInicio]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_MGUIATRANSPORTE' and TABLE_NAME='MGUIATRANSPORTE')
		ALTER TABLE [dbo].[MGUIATRANSPORTE] WITH NOCHECK ADD 
			CONSTRAINT [PK_MGUIATRANSPORTE] PRIMARY KEY  CLUSTERED 
			(
				[tGuiaTransporte]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_MINGRESO' and TABLE_NAME='MINGRESO')
		ALTER TABLE [dbo].[MINGRESO] WITH NOCHECK ADD 
			CONSTRAINT [PK_MINGRESO] PRIMARY KEY  CLUSTERED 
			(
				[tRecibo]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_MNOTACREDITO' and TABLE_NAME='MNOTACREDITO')
		ALTER TABLE [dbo].[MNOTACREDITO] WITH NOCHECK ADD 
			CONSTRAINT [PK_MNOTACREDITO] PRIMARY KEY  CLUSTERED 
			(
				[tNotaCredito]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_MPEDIDO' and TABLE_NAME='MPEDIDO')
		ALTER TABLE [dbo].[MPEDIDO] WITH NOCHECK ADD 
			CONSTRAINT [PK_MPEDIDO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoPedido]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_MPROPINA' and TABLE_NAME='MPROPINA')
		ALTER TABLE [dbo].[MPROPINA] WITH NOCHECK ADD 
			CONSTRAINT [PK_MPROPINA] PRIMARY KEY  CLUSTERED 
			(
				[tcodigopedido]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_MTURNO' and TABLE_NAME='MTURNO')
		ALTER TABLE [dbo].[MTURNO] WITH NOCHECK ADD 
			CONSTRAINT [PK_MTURNO] PRIMARY KEY  CLUSTERED 
			(
				[tTurno]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TAREAIMPRESORA' and TABLE_NAME='TAREAIMPRESORA')
		ALTER TABLE [dbo].[TAREAIMPRESORA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TAREAIMPRESORA] PRIMARY KEY  CLUSTERED 
			(
				[tCaja],
				[tArea]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TCAJA' and TABLE_NAME='TCAJA')
		ALTER TABLE [dbo].[TCAJA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TCAJA] PRIMARY KEY  CLUSTERED 
			(
				[tCaja]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TCLIENTE' and TABLE_NAME='TCLIENTE')
		ALTER TABLE [dbo].[TCLIENTE] WITH NOCHECK ADD 
			CONSTRAINT [PK_TCLIENTE] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoCliente]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TCOMBO' and TABLE_NAME='TCOMBO')
		ALTER TABLE [dbo].[TCOMBO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TCOMBO] PRIMARY KEY  CLUSTERED 
			(
				[tCombo],
				[tCodigoProducto]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TCOMPANIA' and TABLE_NAME='TCOMPANIA')
		ALTER TABLE [dbo].[TCOMPANIA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TCOMPANIA] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoCliente]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TDELIVERY' and TABLE_NAME='TDELIVERY')
		ALTER TABLE [dbo].[TDELIVERY] WITH NOCHECK ADD 
			CONSTRAINT [PK_TDELIVERY] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoDelivery]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TGRUPO' and TABLE_NAME='TGRUPO')
		ALTER TABLE [dbo].[TGRUPO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TGRUPO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoGrupo]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TGRUPOUSUARIO' and TABLE_NAME='TGRUPOUSUARIO')
		ALTER TABLE [dbo].[TGRUPOUSUARIO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TGRUPOUSUARIO] PRIMARY KEY  CLUSTERED 
			(
				[tGrupoUsuario]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TIMPRESORA' and TABLE_NAME='TIMPRESORA')
		ALTER TABLE [dbo].[TIMPRESORA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TIMPRESORA] PRIMARY KEY  CLUSTERED 
			(
				[tCaja],
				[tImpresora]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TMESA' and TABLE_NAME='TMESA')
		ALTER TABLE [dbo].[TMESA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TMESA] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoMesa]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TMODULO' and TABLE_NAME='TMODULO')
		ALTER TABLE [dbo].[TMODULO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TMODULO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoModulo],
				[tSecuencia]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TMOTIVODESCUENTO' and TABLE_NAME='TMOTIVODESCUENTO')
		ALTER TABLE [dbo].[TMOTIVODESCUENTO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TMOTIVODESCUENTO] PRIMARY KEY  CLUSTERED 
			(
				[tDescuento]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TOFERTA' and TABLE_NAME='TOFERTA')
		ALTER TABLE [dbo].[TOFERTA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TOFERTA] PRIMARY KEY  CLUSTERED 
			(
				[tOferta],
				[tCodigoProducto]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TPRODUCTO' and TABLE_NAME='TPRODUCTO')
		ALTER TABLE [dbo].[TPRODUCTO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TPRODUCTO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoProducto]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TPRODUCTOAREA' and TABLE_NAME='TPRODUCTOAREA')
		ALTER TABLE [dbo].[TPRODUCTOAREA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TPRODUCTOAREA] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoProducto],
				[tArea]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TPROPIEDAD' and TABLE_NAME='TPROPIEDAD')
		ALTER TABLE [dbo].[TPROPIEDAD] WITH NOCHECK ADD 
			CONSTRAINT [PK_TPROPIEDAD] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoPropiedad],
				[tProducto]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TRESERVA' and TABLE_NAME='TRESERVA')
		ALTER TABLE [dbo].[TRESERVA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TRESERVA] PRIMARY KEY  CLUSTERED 
			(
				[tReserva]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TSUBGRUPO' and TABLE_NAME='TSUBGRUPO')
		ALTER TABLE [dbo].[TSUBGRUPO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TSUBGRUPO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoGrupo],
				[tCodigoSubgrupo]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TTABLA' and TABLE_NAME='TTABLA')
		ALTER TABLE [dbo].[TTABLA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TTABLA] PRIMARY KEY  CLUSTERED 
			(
				[TTABLA],
				[TCODIGO]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TTARJETACREDITO' and TABLE_NAME='TTARJETACREDITO')
		ALTER TABLE [dbo].[TTARJETACREDITO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TTARJETACREDITO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoTarjeta]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TTIENDA' and TABLE_NAME='TTIENDA')
		ALTER TABLE [dbo].[TTIENDA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TTIENDA] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoDelivery],
				[tCodigoTienda]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TTIPOCAMBIO' and TABLE_NAME='TTIPOCAMBIO')
		ALTER TABLE [dbo].[TTIPOCAMBIO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TTIPOCAMBIO] PRIMARY KEY  CLUSTERED 
			(
				[fFecha]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TTIPODOCUMENTO' and TABLE_NAME='TTIPODOCUMENTO')
		ALTER TABLE [dbo].[TTIPODOCUMENTO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TTIPODOCUMENTO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoTipoDocumento]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TTIPODOCUMENTOIMPRESORA' and TABLE_NAME='TTIPODOCUMENTOIMPRESORA')
		ALTER TABLE [dbo].[TTIPODOCUMENTOIMPRESORA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TTIPODOCUMENTOIMPRESORA] PRIMARY KEY  CLUSTERED 
			(
				[tCaja],
				[tTipoEmision]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TUSUARIO' and TABLE_NAME='TUSUARIO')
		ALTER TABLE [dbo].[TUSUARIO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TUSUARIO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoUsuario]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TPRODUCTOPROPIEDAD' and TABLE_NAME='TPRODUCTOPROPIEDAD')
		ALTER TABLE [dbo].[TPRODUCTOPROPIEDAD] WITH NOCHECK ADD 
			CONSTRAINT [PK_TPRODUCTOPROPIEDAD] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoPedido] ,
				[tItem] ,
				[tCodigoPropiedad] ,
				[tProducto],
				[tEnlace]
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TCOMBOPROPIEDAD' and TABLE_NAME='TCOMBOPROPIEDAD')
		ALTER TABLE [dbo].[TCOMBOPROPIEDAD] WITH NOCHECK ADD 
			CONSTRAINT [PK_TCOMBOPROPIEDAD] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoPedido] ,
				[tItem] ,
				[tItemCombo] ,
				[tCodigoPropiedad],
				[tProducto],
				[tEnlace]
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TLOG' and TABLE_NAME='TLOG')
		ALTER TABLE [dbo].[TLOG] WITH NOCHECK ADD 
			CONSTRAINT [PK_TLOG] PRIMARY KEY  CLUSTERED 
			(
				[tCorrelativo] 
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TOPERADOR' and TABLE_NAME='TOPERADOR')
		ALTER TABLE [dbo].[TOPERADOR] WITH NOCHECK ADD 
			CONSTRAINT [PK_TOPERADOR] PRIMARY KEY  CLUSTERED 
			(
				[tOperador] 
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_ACCESO' and TABLE_NAME='TACCESO')
		ALTER TABLE [dbo].[TACCESO] WITH NOCHECK ADD 
			CONSTRAINT [PK_ACCESO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoAcceso] 
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_GRUPOACCESO' and TABLE_NAME='TGRUPOACCESO')
		ALTER TABLE [dbo].[TGRUPOACCESO] WITH NOCHECK ADD 
			CONSTRAINT [PK_GRUPOACCESO] PRIMARY KEY  CLUSTERED 
			(
				[tGrupoUsuario],
				[tCodigoAcceso] 
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_DPAGOTARJETA' and TABLE_NAME='DPAGOTARJETA')
		ALTER TABLE [dbo].[DPAGOTARJETA] WITH NOCHECK ADD 
			CONSTRAINT [PK_DPAGOTARJETA] PRIMARY KEY  CLUSTERED 
			(
				[tDocumento],
				[tReferencia]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TPEDIDO' and TABLE_NAME='TPEDIDO')
		ALTER TABLE [dbo].[TPEDIDO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TPEDIDO] PRIMARY KEY  CLUSTERED 
			(
				[nCorrelativo]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TPRODUCTOXPRODUCTO' and TABLE_NAME='TPRODUCTOXPRODUCTO')
		ALTER TABLE [dbo].[TPRODUCTOXPRODUCTO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TPRODUCTOXPRODUCTO] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoProducto],
				[tSubProducto]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TPEDIDOMESA' and TABLE_NAME='TPEDIDOMESA')
		ALTER TABLE [dbo].[TPEDIDOMESA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TPEDIDOMESA] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoPedido],
				[tMesa]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TLOCAL' and TABLE_NAME='TLOCAL')
		ALTER TABLE [dbo].[TLOCAL] WITH NOCHECK ADD 
			CONSTRAINT [PK_TLOCAL] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoLocal]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TACCESOENVIA' and TABLE_NAME='TACCESOENVIA')
		ALTER TABLE [dbo].[TACCESOENVIA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TACCESOENVIA] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoAcceso]
			)  ON [PRIMARY] 
GO
IF NOT EXISTS (SELECT 1 FROM sys.key_constraints kc WHERE kc.parent_object_id = OBJECT_ID('dbo.DPEDIDOKDS') AND kc.type = 'PK')
	BEGIN
		ALTER TABLE dbo.DPEDIDOKDS ADD CONSTRAINT PK_DPEDIDOKDS PRIMARY KEY CLUSTERED (tCodigoPedido,tItem);
	END
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TORIGENCODIGOCONTROL' and TABLE_NAME='TORIGENCODIGOCONTROL')
		ALTER TABLE [dbo].[TORIGENCODIGOCONTROL] WITH NOCHECK ADD 
			CONSTRAINT [PK_TORIGENCODIGOCONTROL] PRIMARY KEY  CLUSTERED 
			(
				[tCaja] ,
				[nCorrelativo]
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TMENSAJECOCINA' and TABLE_NAME='TMENSAJECOCINA')
		ALTER TABLE [DBO].[TMENSAJECOCINA] WITH NOCHECK ADD
			CONSTRAINT [PK_TMENSAJECOCINA] PRIMARY KEY CLUSTERED
			(
				[codigo]
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TCANALVENTA' and TABLE_NAME='TCANALVENTA')
		ALTER TABLE [DBO].[TCANALVENTA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TCANALVENTA] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoCanalVenta]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TIMPORTACION' and TABLE_NAME='TIMPORTACION')
		ALTER TABLE [dbo].[TIMPORTACION] WITH NOCHECK ADD 
			CONSTRAINT [PK_TIMPORTACION] PRIMARY KEY  CLUSTERED 
			(
				[tCodigo] ,
				[nOrden]
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TTRAMITE' and TABLE_NAME='TTRAMITE')
		ALTER TABLE [dbo].[TTRAMITE] WITH NOCHECK ADD 
			CONSTRAINT [PK_TTRAMITE] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoTramite]  
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TSOLICITUD' and TABLE_NAME='TSOLICITUD')
		ALTER TABLE [dbo].[TSOLICITUD] WITH NOCHECK ADD 
			CONSTRAINT [PK_TSOLICITUD] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoSolicitud]  
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TSOLICITUDDETALLE' and TABLE_NAME='TSOLICITUDDETALLE')
		ALTER TABLE [dbo].[TSOLICITUDDETALLE] WITH NOCHECK ADD 
			CONSTRAINT [PK_TSOLICITUDDETALLE] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoSolicitud]  ,
				[nCorrelativo]  
			) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TAREASUBGRUPO' and TABLE_NAME='TAREASUBGRUPO')
		ALTER TABLE [dbo].[TAREASUBGRUPO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TAREASUBGRUPO] PRIMARY KEY  CLUSTERED 
			(
				[tCaja],
				[tSubgrupo]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TLISTAESPERA' and TABLE_NAME='TLISTAESPERA')
		ALTER TABLE [dbo].[TLISTAESPERA] WITH NOCHECK ADD 
			CONSTRAINT [PK_TLISTAESPERA] PRIMARY KEY  CLUSTERED 
			(
				[tListaespera]
			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_VISOR_DPEDIDO' and TABLE_NAME='VISOR_DPEDIDO')
		ALTER TABLE [dbo].[VISOR_DPEDIDO] WITH NOCHECK ADD 
		 CONSTRAINT [PK_VISOR_DPEDIDO] PRIMARY KEY CLUSTERED 
		(
			[tCodigoPedido] ASC,
			[tItem] ASC
		) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TPRODUCTOSUNAT' and TABLE_NAME='TPRODUCTOSUNAT')
		ALTER TABLE [dbo].[TPRODUCTOSUNAT] WITH NOCHECK ADD 
		 CONSTRAINT [PK_TPRODUCTOSUNAT] PRIMARY KEY CLUSTERED 
		(
			[tCodigoProducto] ASC
		) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TCLASESUNAT' and TABLE_NAME='TCLASESUNAT')
		ALTER TABLE [dbo].[TCLASESUNAT] WITH NOCHECK ADD 
		 CONSTRAINT [PK_TCLASESUNAT] PRIMARY KEY CLUSTERED 
		(
			[tCodigoClase] ASC
		) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TFAMILIASUNAT' and TABLE_NAME='TFAMILIASUNAT')
		ALTER TABLE [dbo].[TFAMILIASUNAT] WITH NOCHECK ADD 
		 CONSTRAINT [PK_TFAMILIASUNAT] PRIMARY KEY CLUSTERED 
		(
			[tCodigoFamilia] ASC
		) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TSEGMENTOSUNAT' and TABLE_NAME='TSEGMENTOSUNAT')
		ALTER TABLE [dbo].[TSEGMENTOSUNAT] WITH NOCHECK ADD 
		 CONSTRAINT [PK_TSEGMENTOSUNAT] PRIMARY KEY CLUSTERED 
		(
			[tCodigoSegmento] ASC
		) ON [PRIMARY]
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TDESCARGOINSUMO' and TABLE_NAME='TDESCARGOINSUMO')
		begin
			ALTER TABLE [dbo].[TDESCARGOINSUMO] WITH NOCHECK ADD 
			 CONSTRAINT [PK_TDESCARGOINSUMO] PRIMARY KEY CLUSTERED 
			(
				[Id] 
			) ON [PRIMARY]
		end
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TTIPOIDENTIDAD' and TABLE_NAME='TTIPOIDENTIDAD')
		begin
			ALTER TABLE [dbo].[TTIPOIDENTIDAD] WITH NOCHECK ADD 
			 CONSTRAINT [PK_TTIPOIDENTIDAD] PRIMARY KEY CLUSTERED 
			(
				[tCodigo] 
			) ON [PRIMARY]
		end
GO
--BEGIN
--		ALTER TABLE TORIGENVENTA
--		ALTER COLUMN [tCodigoOrigenVenta] varchar (2) NOT NULL
--	END
--GO
--	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TORIGENVENTA' and TABLE_NAME='TORIGENVENTA')
--		begin
--			ALTER TABLE [dbo].[TORIGENVENTA] WITH NOCHECK ADD 
--			 CONSTRAINT [PK_TORIGENVENTA] PRIMARY KEY CLUSTERED 
--			(
--				[tCodigoOrigenVenta] 
--			) ON [PRIMARY]
--		end
--GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TINTEGRACIONES' and TABLE_NAME='TINTEGRACIONES')
		begin
			ALTER TABLE [dbo].[TINTEGRACIONES] WITH NOCHECK ADD 
			 CONSTRAINT [PK_TINTEGRACIONES] PRIMARY KEY CLUSTERED 
			(
				[tCodigo] 
			) ON [PRIMARY]
		end
GO
	If exists (select * from sys.indexes where upper(name)='IX_MPEDIDO')
		begin
			drop index MPEDIDO.IX_MPEDIDO
		end
GO
	--CREATE  INDEX [IX_MPEDIDO] ON [dbo].[MPEDIDO]([tEstadoPedido], [tTipoPedido], [tCaja]) ON [PRIMARY]
GO
	If exists (select * from sys.indexes where upper(name)='IX_DPEDIDO')
		begin
			drop index DPEDIDO.IX_DPEDIDO
		end
GO
	--CREATE  INDEX [IX_DPEDIDO] ON [dbo].[DPEDIDO]([tFacturado], [tEstadoItem], [tdocumento]) ON [PRIMARY]
GO
	If exists (select * from sys.indexes where upper(name)='IX_MDOCUMENTO')
		begin
			drop index MDOCUMENTO.IX_MDOCUMENTO
		end
GO
	--CREATE  INDEX [IX_MDOCUMENTO] ON [dbo].[MDOCUMENTO]([tEstadoDocumento], [tCaja]) ON [PRIMARY]
GO
	If exists (select * from sys.indexes where upper(name)='IX_TDELIVERY')
		begin
			drop index TDELIVERY.IX_TDELIVERY
		end
GO
	--CREATE  INDEX [IX_TDELIVERY] ON [dbo].[TDELIVERY]([tTelefono]) ON [PRIMARY]
GO
	If exists (select * from sys.indexes where upper(name)='FACTURACIONINFHOTEL')
		begin
			drop index MPEDIDO.FACTURACIONINFHOTEL
		end
GO
	--CREATE INDEX [FACTURACIONINFHOTEL] ON [dbo].[MPEDIDO]([tComanda], [tHabitacion], [tReserva]) ON [PRIMARY]
GO
If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TPROGRAMAPRECIOS_CAB' and TABLE_NAME='TPROGRAMAPRECIOS_CAB')
		ALTER TABLE [dbo].TPROGRAMAPRECIOS_CAB WITH NOCHECK ADD 
			CONSTRAINT [PK_TPROGRAMAPRECIOS_CAB] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoProgPrecio]
			)  ON [PRIMARY] 
GO

If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TPROGRAMAPRECIOS_DETA' and TABLE_NAME='TPROGRAMAPRECIOS_DETA')
		ALTER TABLE [dbo].TPROGRAMAPRECIOS_DETA WITH NOCHECK ADD 
			CONSTRAINT [PK_TPROGRAMAPRECIOS_DETA] PRIMARY KEY  CLUSTERED 
			(
				[tCodigoProgPrecio],
				[tCodigoProducto]
			)  ON [PRIMARY] 
GO

If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_DICTIONARY_INFOREST' and TABLE_NAME='DICTIONARY_INFOREST')
		ALTER TABLE [dbo].DICTIONARY_INFOREST WITH NOCHECK ADD 
			CONSTRAINT [PK_DICTIONARY_INFOREST] PRIMARY KEY  CLUSTERED 
			(
				[idDictionary]

			)  ON [PRIMARY] 
GO
	If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_DNOTACREDITO' and TABLE_NAME='DNOTACREDITO')
		ALTER TABLE [dbo].[DNOTACREDITO] WITH NOCHECK ADD 
			CONSTRAINT [PK_DNOTACREDITO] PRIMARY KEY  CLUSTERED 
			(
				[tNotaCredito] ASC,
				[tItem] ASC
			) ON [PRIMARY]
GO
If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TCENTROCOSTO' and TABLE_NAME='TCENTROCOSTO')
		ALTER TABLE [dbo].[TCENTROCOSTO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TCENTROCOSTO] PRIMARY KEY  CLUSTERED 
			(
				[TCodigo]
		 
			)  ON [PRIMARY] 
GO
If not exists (select * from INFORMATION_SCHEMA.TABLE_CONSTRAINTS where CONSTRAINT_NAME='PK_TCAJAORIGEN_BLOQUEO' and TABLE_NAME='TCAJAORIGEN_BLOQUEO')
		ALTER TABLE [dbo].[TCAJAORIGEN_BLOQUEO] WITH NOCHECK ADD 
			CONSTRAINT [PK_TCAJAORIGEN_BLOQUEO] PRIMARY KEY  CLUSTERED 
			(
				[tCaja] ASC,
				[CodigoOrigenVenta] ASC
		 
			)  ON [PRIMARY] 
GO

	print 'Lineas de Indices'





